<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevin.vendollarv3">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".VendollarV3App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Vendollar"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.kontakt.sdk.android.ble.service.ProximityService"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".coupon_popup1"
            android:label="@string/title_activity_coupon_popup1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".coupon_popup2"
            android:label="@string/title_activity_coupon_popup2"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".page1"
            android:label="@string/title_activity_page1"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".page2"
            android:label="@string/title_activity_page2"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".page3"
            android:label="@string/title_activity_page3"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
